<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.klinker.deskclock"
        android:versionCode="4" android:versionName="1.0.2">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="19" ></uses-sdk>

    <application android:label="@string/app_label"
                 android:icon="@mipmap/ic_launcher_alarmclock">

        <provider android:name=".provider.ClockProvider"
                android:authorities="com.klinker.deskclock"
                android:exported="false" />

        <activity android:name="DeskClock"
                android:label="@string/app_label"
                android:theme="@style/DeskClock"
                android:icon="@mipmap/ic_launcher_alarmclock"
                android:launchMode="singleTask"
                >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias android:name="DockClock"
                android:targetActivity="DeskClock"
                android:label="@string/app_label"
                android:theme="@style/DeskClock"
                android:icon="@mipmap/ic_launcher_alarmclock"
                android:launchMode="singleTask"
                android:enabled="@bool/config_dockAppEnabled"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.DESK_DOCK" />
            </intent-filter>
        </activity-alias>

        <activity android:name="SettingsActivity"
                android:label="@string/settings"
                android:theme="@style/SettingsTheme"
                android:taskAffinity=""
                android:excludeFromRecents="true"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".worldclock.CitiesActivity"
                android:label="@string/cities_activity_title"
                android:theme="@style/CitiesTheme"
                android:taskAffinity=""
                android:excludeFromRecents="true"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity android:name=".alarms.AlarmActivity"
                android:taskAffinity=""
                android:excludeFromRecents="true"
                android:theme="@style/AlarmAlertFullScreenTheme"
                android:windowSoftInputMode="stateAlwaysHidden"
                android:showOnLockScreen="true"
                android:configChanges="orientation|screenSize|keyboardHidden|keyboard|navigation"
                android:exported="true"/>

        <activity android:name=".alarms.AttributeActivity"
                  android:taskAffinity=""
                  android:excludeFromRecents="true"
                  android:theme="@style/AlarmAlertFullScreenTheme"
                  android:windowSoftInputMode="stateAlwaysHidden"
                  android:showOnLockScreen="true"
                  android:configChanges="orientation|screenSize|keyboardHidden|keyboard|navigation"/>

        <activity android:name="ScreensaverActivity"
                android:excludeFromRecents="true"
                android:taskAffinity=""
                android:theme="@style/ScreensaverActivityTheme"
                android:configChanges="orientation|screenSize|keyboardHidden|keyboard" />

        <receiver android:name=".alarms.AlarmStateManager"
                  android:exported="false">
        </receiver>

        <service android:name=".alarms.AlarmService"
                 android:exported="false">
        </service>

        <activity android:name="HandleApiCalls"
                android:theme="@android:style/Theme.NoDisplay"
                android:excludeFromRecents="true"
                android:permission="com.android.alarm.permission.SET_ALARM">
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SHOW_ALARMS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity-alias android:name="HandleSetAlarm"
            android:targetActivity=".HandleApiCalls"
            android:exported="true">
        </activity-alias>


        <receiver android:name="AlarmInitReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>

        <!-- Dream (screensaver) implementation -->
        <service android:name="Screensaver"
            android:exported="true"
            android:label="@string/app_label">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream_info" />
        </service>

        <!-- Settings activity for screensaver -->
        <activity android:name=".ScreensaverSettingsActivity"
                android:label="@string/screensaver_settings"
                android:theme="@android:style/Theme.Holo"
                android:taskAffinity=""
                android:excludeFromRecents="true"
                android:exported="true"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>

